# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out/
*.dl

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Others
.DS_Store
*.proc
*.txt
*.log
*.gz
captcha.png
aliyunpan_config.json
aliyunpan_command_history.txt
aliyunpan_uploading.json
test/
download/
*-downloading

# GoLand
.idea/

demos/
userpw.txt
test_test.go
git_push.sh
git_pull.sh
my_test.go
open_client_test.go
open_test.go